# Data Science Tools and Ecosystem

Some of the popular languages that Data Scientist use are  

1. Python  

2. R 

3. SQL

In this notebook Data Science Tools and Ecosystem and summarized

Some of the key takeaways from the course.

**Objectives**

- list of commonly used libraries by Data Scientists.
- table of Data Science tools
- evaluating arthematic expression in Python

Some of the commonly used libraries used by Data Scientists include: 

     

1. Pandas 

2. Numpy 

3. Scikit-learn

# Table

|Data Science Tools|
|---|
|Rstudio|
|Apache Spark|
|TensorFlow|

In [4]:
### Below are a few examples of evaluating arthmetic expressions in Python

In [10]:
This is a simple arithmetic expression to multiply then add integers (3*4)+5

17

In [2]:
This will convert 200 minutes to hours by dividing by 60. 200/60

3.3333333333333335

## Author
Sumit